<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gendle</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="flex-container">
        <div class="guess-form">
            <form action="/guess" method="POST">
                <% if (locals.charlist && !(match)) { %>
                    <select name="index" class="dropdown">
                        <% for (let i = 0; i < charlist.length; i++) { %>
                            <option class="dropdown-content" value="<%= i %>"><%= charlist[i] %></option>
                        <% } %>
                        <input type="submit" value="Guess" class="guess-button">
                    </select>
                <% } %>
            </form>
            <a href="/"><button class="retry-button">Retry</button></a>
        </div>
        
        <% if (locals.matches) { %>
            <% for (let i = 0; i < Object.keys(matches).length; i++) { %>
                <div class="guess">
                    <div class="item <%= matches[i].nameMatch %>">
                        <img src="https://genshin.jmp.blue/characters/<%= urlname[i] %>/icon-big" alt="picture of character">
                    </div>
                    <div class="item <%= matches[i].visionMatch %>">
                        <img src="/images/<%= matches[i].vision %>.png">
                    </div>
                    <div class="item <%= matches[i].weaponMatch %>">
                        <img src="/images/<%= matches[i].weapon %>.png">
                    </div>
                    <div class="item <%= matches[i].genderMatch %>">
                        <h1><%= matches[i].gender %></h1>
                    </div>
                    <div class="item <%= matches[i].nationMatch %> ">
                        <img src="/images/<%= matches[i].nation %>.png">
                    </div>
                </div>
            <% } %>
            <% if (match) { %>
                <a href="/"><button class="retry-button">Again</button></a>
            <% } %>
        <% } %>
    </div>
</body>
</html>